.ui.card {
  border: solid 1px rgb(211, 210, 210);
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  width: 56%;
  height: 16rem;
  @media (max-width: 1024px) {
    height: 14em;
  }
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  @media (max-width: 1024px) {
      font-size: 0.9em;
  }
}

.ui.card .meta, .ui.cards>.card .meta {
  @media (max-width: 1024px) {
    font-size: 0.8em;
  }
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  font-weight: 300;
  @media (max-width: 1024px) {
    font-size: 0.8em;
  }
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
  font-size: 0.8rem;
}
