
@font-face {
  font-family: 'MPLUS1p';
  src: url('/MPLUS1p-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre';
  src: url('/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MPLUS1p', sans-serif;
}

.fontLibre{
  font-family: 'Libre', sans-serif;
}