
@font-face {
  font-family: 'MPLUS1p';
  src: url('../public/MPLUS1p-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MPLUS1p', sans-serif;
}

/* @font-face {
  font-family: 'NotoSansJP';
  src: url('../public/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'NotoSansJP', sans-serif;
} */