/* .amplify-button[data-variation='primary'] {
  background: linear-gradient(
    to right,
    var(--amplify-colors-green-80),
    var(--amplify-colors-orange-40)
  );
} */

.auth-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.auth-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: chocolate;
  --amplify-components-button-primary-disabled-background-color: chocolate;
  --amplify-components-button-primary-active-background-color: chocolate;
  --amplify-components-button-primary-visited-background-color: chocolate;
  --amplify-components-button-primary-focus-background-color: chocolate;
  --amplify-components-button-primary-hover-background-color: sandybrown;
  --amplify-components-button-link-color: chocolate;
  --amplify-components-button-link-hover-color: chocolate;
  --amplify-components-button-link-focus-color: chocolate;
  --amplify-components-button-link-active-color: peachpuff;
  --amplify-components-button-link-hover-background-color: peachpuff;
  --amplify-components-button-link-active-background-color: sandybrown;
}

.amplify-button[data-variation='primary'] {
  background-color: chocolate;
}

.sample-slider {
  width: 100%;
  height: 24vw;
}
.sample-slider img {
  width: 100%;
  height: 100%;
}
.sample-slider .swiper-slide{   /* 餈質 */
  border-radius: 10px;
  width: 600px;     /* 餈質 */
}

.vertical-slider {
  width: 80%;
  height: 60vh;
}

.vertical-slider >[class^=swiper-button] {
	transform: rotate(90deg);
	top: initial;
	left: initial;
	right: 10px;
	margin: 0;
  color: gray;
}

.vertical-slider [class^=swiper-button]{
  color: gray;
}

.swiper-pagination-bullet-active{
  background-color: gray;
}
/* .contest-slider[class^=swiper-button] {
  transform: none;
} */
.vertical-slider .swiper-button-prev{
  top:0;
}

.vertical-slider [class^=swiper-button]::after {
  font-size: 2rem;
}

.vertical-slider .swiper-button-next{
  bottom:0;
}

.vertical-slider .contest-slider .swiper-button-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vertical-slider .contest-slider .swiper-button-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
}

.contest-slider {
  /* border: 1px solid gray; */
  height: 50Vh;
}

.contest-slider  [class^=swiper-button]{
  color: gray;
}

.contest-slider  [class^=swiper-button]::after{
  color: gray;
  font-size: 2rem;
}



.contest-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .vertical-slider [class^=custom-button] {
	transform: rotate(90deg);
	top: initial;
	left: initial;
	right: 10px;
	margin: 0;
  opacity: 0.7;
  position: absolute;
  cursor: pointer;
  z-index: 1;
    display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-slider .custom-button-prev{
  top:0;
}
.vertical-slider [class^=custom-button] >svg{
  height: 2rem;
  width: 2rem;
}
.vertical-slider .custom-button-next{
  bottom:0;
} */

