/* .amplify-button[data-variation='primary'] {
  background: linear-gradient(
    to right,
    var(--amplify-colors-green-80),
    var(--amplify-colors-orange-40)
  );
} */

.auth-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.auth-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: chocolate;
  --amplify-components-button-primary-disabled-background-color: chocolate;
  --amplify-components-button-primary-active-background-color: chocolate;
  --amplify-components-button-primary-visited-background-color: chocolate;
  --amplify-components-button-primary-focus-background-color: chocolate;
  --amplify-components-button-primary-hover-background-color: sandybrown;
  --amplify-components-button-link-color: chocolate;
  --amplify-components-button-link-hover-color: chocolate;
  --amplify-components-button-link-focus-color: chocolate;
  --amplify-components-button-link-active-color: peachpuff;
  --amplify-components-button-link-hover-background-color: peachpuff;
  --amplify-components-button-link-active-background-color: sandybrown;
}

.amplify-button[data-variation='primary'] {
  background-color: chocolate;
}