.today-photo-slider {
  /* width: 70%; */
  width: 70%;
  height: 84.5vh;
  @media (max-width: 1024px) {
    width: 100%;
    height: 65Vw;
  }
}

.today-photo-slider img {
  width: 100%;
  height: 100%;
}

.top-contest-slider{
  width: 37rem;
  @media (max-width: 1024px) {
    width: 28rem;
  }
}

.top-contest-slider .swiper-slide{
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-contest-slider [class^=swiper-button]::after{
  color: gray;
  font-size: 2rem;
}

.sample-slider {
  width: 100%;
  height: 24vw;
}
.sample-slider img {
  width: 100%;
  height: 100%;
}
.sample-slider .swiper-slide{   /* 餈質 */
  border-radius: 10px;
  width: 600px;     /* 餈質 */
}


.vertical-slider {
  width: 80%;
  height: 60vh;
}

.vertical-slider >[class^=swiper-button] {
	transform: rotate(90deg);
	top: initial;
	left: initial;
	right: 10px;
	margin: 0;
  color: gray;
}

.vertical-slider [class^=swiper-button]{
  color: gray;
}

.swiper-pagination-bullet-active{
  background-color: gray;
}

.vertical-slider .swiper-button-prev{
  top:0;
}

.vertical-slider [class^=swiper-button]::after {
  font-size: 2rem;
}

.vertical-slider .swiper-button-next{
  bottom:0;
}

.vertical-slider .contest-slider .swiper-button-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vertical-slider .contest-slider .swiper-button-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
}

.contest-slider {
  /* border: 1px solid gray; */
  height: 50Vh;
}

.contest-slider  [class^=swiper-button]{
  color: gray;
}

.contest-slider  [class^=swiper-button] ::after{
  color: gray;
  font-size: 2rem;
}

.contest-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}